body {
   
   background-image: url("../images/fondo.jpg");
   background-size: cover; 

}

 .body-login {
   
   background-image: url("../images/fondo.jpg");
   background-size: cover; 
}

 .bodydj {
    
   background-image: url("../images/fondodj.jpg") ;
   background-size: cover;
}

 .bodytyc {
    
   background-image: url("../images/fondodj.jpg");
   background-size: cover;
}

 h1 {
    
    display: flex;
    flex-direction: row;
    color:cornflowerblue;
    justify-content: center;
    font-size: 150%;
    margin-top: 1px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
    
}

.introduccion {
   
   color: rgb(253, 253, 252);
   text-align:left ;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 130%;
   margin-top: 5%;
   margin-left: 25px;
   margin-right: 400px;
      
}

.terminos-y-cond li {
   
   font-size: 130%;
   color: rgb(226, 220, 210);
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-top: 15px;
   margin-left: 10px;
   margin-right: 10px;
}

.p {
  
   font-size: 130%;
   color: rgb(226, 220, 210);
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-top: 15px;
   margin-left: 10px;
   margin-right: 10px;
}

.navenlace {
    
   background:  rgb(255, 0, 0);
   color: white;
   padding: 10px  30px;
   border-radius: 10px;
   font-family: monospace;
   text-decoration: none;
   font-size: 17px;
    
}

nav {
   
   background: transparent;
   padding: 10px;
   
}


.nav-bar {
   
   display: flex;
   flex-direction:row ;
   justify-content: space-between;
   align-items: center;
}

.nav-group { 
   
   display: flex;
   flex-direction: row;
   list-style: none;
   padding-left: 10px;
   margin-top: 15px;
      
}

.nav-item {
   
   background:  cornflowerblue;
   color: white;
   padding: 10px  30px;
   border-radius: 10px;
   font-family: monospace;
   text-decoration: none;
   font-size: 17px;
   margin-right: 25px;
}

.nav-item:hover {
   
   background: rgb(147, 179, 238);
   color :black;
}

.terminos-y-cond {
   
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: large;
   color: whitesmoke;
   margin: 5%;
   height: 100px;
   text-align: left; 
   justify-content: center;
  
}


 table, td, th {
     
   border: 1px solid black;
   font-family: sans-serif;
   margin-left: 15px;
   font-size: 15px;
   margin-top: 5%;
}

 .tablehead {
   
   text-align: center;
}

.celdas {
   
   background-color: rgba(114, 114, 170, 0.5);
   text-align: center;
   font-size: 120%;
}

td {
    
   color: white;
}


.estilotabla {
  
   background-color:rgb(9, 177, 243);
   font-size: 20px;
}

.Form-login {

   width: 400px;
   height: 350px;
   background:rgb(54, 49, 49);
   margin: auto;
   margin-top: 180px;
   box-shadow: 7px 13px 37px; color: black;
   padding: 20px 30px;
   border-top: 4px solid cornflowerblue;
   color:aliceblue
}

.Form-login h5 {

   margin: 0%;
   text-align: center;
   height: 40px;
   margin-bottom: 38px;
   border-bottom: 1px solid;
   font-size: 20px;
}

.Form-login p {

   height: 40px;
   text-align: center;
   border-bottom: 1px solid;
}
   
.Form-login a {
   
   color: white;
   text-decoration: none;
   font-size:14px;
}
   
.Form-login a:hover { 
   
   text-decoration: underline;
   
}
   
.form-user-declaracion{ 
   
   display: flex; 
   flex-direction: column;
}

.controls {

   width: 375px;
   border: 1px solid rgb(12, 240, 190);
   margin-bottom: 25px;
   padding: 11px 12px;
   background-color: white;
   font-size: 14px;
   font-weight: bold;
   margin-left: 65%;
   line-height: 2px;
     
}

.control-login {

   width: 375px;
   border: 1px solid rgb(12, 240, 190);
   margin-bottom: 25px;
   padding: 11px 12px;
   background-color: white;
   font-size: 14px;
   font-weight: bold;
   line-height: 2px;
     
}

.button {

   width:250px;
   height: 60px;
   background:rgb(31, 98, 224);
   color:beige;
   margin-bottom: 16px;
   margin-left: 35%;
   border-radius: 15px;
}
   
.button-login {
   
   width:100%;
   height: 50px;
   background:rgb(31, 98, 224);
   color:beige;
   margin-bottom: 16px;
   border-radius: 5px;
   
}
   

.claseul {
   
   color: rgb(229, 255, 0);
   font-family: cursive;
   font-size: medium;
   text-align: left;
   
}

.claselist {
   
   margin-left: 2px;
   margin-top: 1.5%;
   line-height: 0px;
   color: cornflowerblue;
   font-size: small;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-left: 2%;
}

* {
   margin: 0px;
   padding: 0px;
   box-sizing: bord;

}

#captcha{ 
   color:blanchedalmond;
   width: 150px;
   font-size: 30px;
   font-weight: bold;
   margin-bottom: 5px;

}

footer {
   background-color:rgb(10, 9, 9);
   padding: 10px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .integrantes {
   display: flex;
   flex-direction: row;
   color:  white;
}

contenedor {

   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   height: 500px;
   margin-left: 70%;
   margin-top: 0%;
   opacity: 70%;
   justify-content: space-around;
   
}

.carreras {

   color: rgb(0, 0, 0);
   border: 4px;
   border-style:groove;
   border-color: rgb(70, 71, 71);
   background-color: silver;
   width: 70%;
   height: 25%;
   font-size: larger;
   font-family: fantasy;
   text-align: center;
   border-radius: 9%
  }